@import '../helpers/var'

.services
    // min-height: 100vh
    width: 100%
    background-image: linear-gradient(25deg, $yellow 50%, transparent 50%)
    display: flex
    align-items: center
    padding: 10% 0

    &--wrapper
        justify-content: space-between
        align-items: center

    &__title
        font-size: calc(1rem + 2.75vw)
        line-height: calc(1rem + 2.75vw)
        mix-blend-mode: difference

.box-group
    display: flex
    width: 100%
    // padding: 5% 0 5% 10%
    flex-wrap: wrap
    list-style: none
    text-align: center
    mix-blend-mode: difference

    &__item
        display: flex
        flex-direction: column
        align-items: center
        padding: 1.5vw 0
        width: 25%
        opacity: 0
        transform: translateY(30px)
        height: auto
        transition: $transition
        mix-blend-mode: exclusion
        &--show
            opacity: 1

    &__icon
        background-position: center
        background-size: 135%
        background-repeat: no-repeat
        width: 8vw
        height: 8vw
        border-radius: 50%
        background-image: url("../img/service.jpg")
        transition: all 1s ease

        &:hover
            transform: scale(1.2)
            background-size: 150%

    &__caption
        font-size: calc(0.25rem + 1vw)
        line-height: calc(0.25rem + 1.25vw)
        padding: 1.5rem 0

@media screen and ( max-width: 768px)
    .services
        background-image: linear-gradient(-90deg, yellow 50%, transparent 50%)

        &--wrapper
            display: grid
            grid-template-columns: repeat(1, 1fr)

        &__title
            text-align: right
            font-size: calc(1rem + 4vw)
            line-height: calc(1rem + 4.25vw)

    .box-group
        &__icon
            width: 12.5vw
            height: 12.5vw
        &__caption
            font-size: calc(0.5rem + 1.25vw)
            line-height: calc(0.5rem + 1.25vw)

@media screen and ( max-width: 480px )
    .services
        &--wrapper
            display: grid
            grid-template-columns: repeat(1, 1fr)

        &__title
            font-size: calc(1rem + 6.5vw)
            line-height: calc(1rem + 6.75vw)

    .box-group
        display: grid
        grid-template-columns: repeat(2, 1fr)
        &__item
            width: 100%
        &__icon
            width: 20vw
            height: 20vw
        &__caption
            font-size: calc(0.5rem + 2vw)
            line-height: calc(0.5rem + 2.25vw)
